/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}
#box1 {
    float: left;
    height: 609px;
    clear: none;
    width: 220px;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(255, 0, 0);
    position: fixed;
    top: 10px;
    left: 0%;
    bottom: auto;
    z-index: 3;
}
#text1 {
    float: left;
    font-size: 1em;
    color: rgb(0, 0, 0);
    width: 64.85857142857144%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 0px;
    margin-top: 279px;
    clear: none;
    min-height: 315px;
    min-width: 0.5em;
    margin-right: 0px;
}
#box2 {
    float: left;
    height: 947px;
    margin-left: 240px;
    margin-top: 100px;
    clear: none;
    width: 700px;
    margin-right: auto;
    position: relative;
    top: 0px;
    left: 0px;
    min-width: 20px;
}
#box3 {
    float: left;
    height: 310px;
    margin-left: 0.43%;
    margin-top: 276px;
    clear: none;
    width: 220px;
    background-color: rgb(0, 29, 255);
    margin-right: 20px;
}
#box4 {
    float: none;
    height: 238px;
    margin-left: auto;
    margin-top: 85px;
    clear: none;
    width: 700px;
    margin-right: auto;
}
#box5 {
    float: left;
    height: 140px;
    margin-left: 0px;
    margin-top: 49px;
    clear: none;
    width: 220px;
    margin-right: 20px;
    background-color: rgb(58, 201, 168);
}
#box6 {
    float: left;
    height: 129px;
    margin-left: 0%;
    margin-top: 49px;
    clear: none;
    width: 220px;
    margin-right: 20px;
    background-color: rgb(33, 32, 32);
}
#box7 {
    float: left;
    height: 129px;
    margin-left: 0%;
    margin-top: 48px;
    clear: none;
    width: 220px;
    background-color: rgb(58, 201, 168);
}
#reflow-378f71df-ce00-503e-cea6-8fc28336122c {
    margin-left: 97px;
}

@media only screen and (max-width: 2184px) {

   #box2 {
        margin-left: auto;
        float: none;
        clear: none;
        margin-top: 100px;
        z-index: 0;
        height: 1041px;
        margin-right: auto;
   }
   #box4 {
        float: none;
        height: 238px;
        margin-left: auto;
        margin-top: 772px;
        clear: none;
        width: 700px;
        margin-right: auto;
   }
   #box5 {
        float: left;
        height: 140px;
        margin-left: 0px;
        margin-top: 49px;
        clear: none;
        width: 220px;
        margin-right: 20px;
        background-color: rgb(58, 201, 168);
   }
   #box6 {
        float: left;
        height: 129px;
        margin-left: 0%;
        margin-top: 49px;
        clear: none;
        width: 220px;
        margin-right: 20px;
        background-color: rgb(33, 32, 32);
   }
   #box7 {
        float: left;
        height: 129px;
        margin-left: 0%;
        margin-top: 48px;
        clear: none;
        width: 220px;
        background-color: rgb(58, 201, 168);
   }
   #reflow-378f71df-ce00-503e-cea6-8fc28336122c {
        margin-left: 97px;
   }
   #box3 {
        margin-top: 276px;
        margin-left: 0%;
        clear: none;
   }
   #text1 {
        margin-top: 279px;
        margin-left: 0%;
        clear: none;
        width: 460px;
        min-width: 0px;
   }
}
@media only screen and (max-width: 1180px) {

   #box2 {
        margin-left: 240px;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 100px;
        height: 984px;
   }
   #box4 {
        margin-top: 744px;
        margin-left: auto;
        clear: none;
        float: none;
        width: 100%;
        margin-right: auto;
   }
}
@media only screen and (max-width: 960px) {

   #text1 {
        margin-top: 34px;
        margin-left: auto;
        clear: none;
        height: auto;
        min-height: 0px;
        width: 100%;
        margin-right: auto;
        float: none;
   }
   #box2 {
        width: auto;
        margin-top: 99px;
        margin-left: 246px;
        clear: none;
        margin-right: 30px;
        height: 1478px;
   }
   #box3 {
        margin-top: 250px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
   }
   #box4 {
        margin-top: 80px;
        margin-left: auto;
        clear: none;
        width: 98.83187134502924%;
        position: relative;
        top: 0px;
        left: 0px;
        height: 498px;
        float: none;
        margin-right: auto;
   }
   #box5 {
        width: 220px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
   }
   #box6 {
        width: 220px;
        height: 129px;
        margin-top: 14px;
        margin-left: auto;
        clear: none;
        float: none;
        margin-right: auto;
   }
   #box7 {
        width: 220px;
        height: 129px;
        margin-top: 20px;
        margin-left: auto;
        clear: none;
        float: none;
        margin-right: auto;
   }
}
@media only screen and (max-width: 650px) {

   #box1 {
        display: none;
   }
   #box2 {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        width: 85%;
   }
   #box4 {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        width: 85%;
   }
}