@charset "UTF-8";
@import url("../webfonts/Eurostile_Reg/stylesheet.css");
@import url("../webfonts/Eurostile_RegObl/stylesheet.css");

body {
	background-color: #f6f6f6;
    overflow-x: hidden;
	overflow-y: auto;
    height: auto;
}

.stahl-container {
	background-color: #f6f6f6;
	padding-top: 50px;
    margin-top: 0px;
}
.fill { 
    min-height: 100%;
    height: 100%;
}
.content {
    padding-bottom: 50px;
}
#v-branding {
	background-image: url(../assets/stahl-branding-238.png);
	width: 238px;
	height: 195px;
    margin-bottom: 10px:
}
h1 {
	font-family: Eurostile-Reg;
	text-align: center;
	font-size: 3.5em;
	line-height: 0.85em;
    margin-top: 0px;
}
h2 {
	font-family: Eurostile-Reg;
	text-align: center;
	font-size: 2.5em;
	line-height: 0.85em;
    margin-top: 0px;
}
h3 {
	font-family: Eurostile-RegObl;
	text-align: center;
	font-size: 2em;
    margin-bottom: 20px;
}
.coverflow {
	background-image: url(../assets/stahl-carousel-450.jpg);
	width: 450px;
	margin-left: auto;
	margin-right: auto;
    margin-top: -30px;
	height: 214px;
    overflow-x:hidden;
}
.nav.nav-stacked {
	width: 238px;
	margin-top: 10px;
}
.nav.nav-pills.nav-stacked li{
	height: 37px;
	margin-bottom: 10px;
    background-color: transparent;
	font-family: Eurostile-Reg;
	font-size: .9em;
	vertical-align: middle;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    text-indent: 18px;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
}
.nav.nav-stacked li a{
	padding-left: 0px;
        margin-top: 0px;
    margin-bottom: 0px;
height: 16px;
        padding-top: 11px;
    padding-bottom: 10px;
}

.nav>li>a{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active{
    text-decoration: none;
    background-color: #74a0c5;
    color: #ffffff !important;
}

.icon-white {
    background-image: url(../assets/glyphicons-halflings-white.png);
}
.space-below {
	margin-bottom: 20px;
}
.feature-group {
	margin-top: 16px;
    margin-bottom: 30px;
}
.btn-feature {
  background-color: hsl(267, 32%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8867b0", endColorstr="#51396f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8867b0), to(#51396f));
  background-image: -moz-linear-gradient(top, #8867b0, #51396f);
  background-image: -ms-linear-gradient(top, #8867b0, #51396f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8867b0), color-stop(100%, #51396f));
  background-image: -webkit-linear-gradient(top, #8867b0, #51396f);
  background-image: -o-linear-gradient(top, #8867b0, #51396f);
  background-image: linear-gradient(#8867b0, #51396f);
  border-color: #51396f #51396f hsl(267, 32%, 27.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.btn-lightbox {
  background-color: hsl(0, 0%, 0%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#383838), to(#000000));
  background-image: -moz-linear-gradient(top, #383838, #000000);
  background-image: -ms-linear-gradient(top, #383838, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #383838, #000000);
  background-image: -o-linear-gradient(top, #383838, #000000);
  background-image: linear-gradient(#383838, #000000);
  border-color: #000000 #000000 hsl(0, 0%, -5.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.bold{
  font-weight: Bold;
}
.lighter{
  font-weight: Lighter;
}

.lightbox h1, .lightbox h3, .lightbox p{
    color: #ffffff !important;
}

.video iframe {
    display:block;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.feature-image img{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
#v-header{
	position: absolute;
	z-index: 100;
	width: 238px;
	top: 20px;
}
#v-header{
    background-color:#f6f6f6;
}
#navigation {
	z-index:100;
}
.book-image img{
        box-shadow:0 0 6px #777; 
    -moz-box-shadow:0 0 6px #777; 
    -webkit-box-shadow:0 0 6px #777; 
    margin-bottom: 20px;
}

.video-container h1 {
    margin-top: 200 px;
}
.video-container h2 {
    margin-top: 50 px;
}

.h-header {
    height: 55px;
    background-image: url("../assets/stahl-branding-768.png");
    background-position:center;
    background-repeat:no-repeat;
}
#link-video1 {
    margin-top: 0 !important;
}
.ui-btn-inner {
    margin-top: 0 !important;
}

p.video-caption {
    margin-right: auto;
    margin-left: auto;
    margin-top:30px;

}
li a.active {
    color: #333333 !important;
}
.ui-body-c, .ui-overlay-c{
    text-shadow: none !important;
}
a.btn-success.ui-link {
    color: #ffffff !important;
}

.email-input {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
h1.space-above {
    margin-top: 50px;
}
    .rwd-spacer-1{
        display:none;
    }  
.text-container {
    width: 100%;
}
.ui-listview li a {
    font-family: Eurostile-Bol;
    font-size: .9em;
}
.ui-header > .jqm-navmenu-link.ui-btn{
    width: 30px;
    height: 30px;
    margin-top: 58px;
    margin-left: 3px;
        background-image: url(images/icons-36-white.png);
    background-position: 	-4px -2.5px;
    border-style:double;

}
.ui-content .ui-listview, .ui-panel-inner > .ui-listview.nav-panels {
    margin-top: 0px;
}    

#v-header > .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
    padding-right: 0px !important;
}

   .rwd-line-1, .rwd-line-2 { 
display: block; 
}

    .rwd-button {
    width: 216px;
    margin-right: 10px;
padding-left: 3px;
padding-right: 3px;
display: inline-block;
}
.rwd-button-last {
    width: 212px;
    margin-right: 0px;
display: inline-block;
}
.fluid-container, .fluid-container-n {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
.fluid-container-video{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
}
#embed-container{

}
iframe {
    width: 100%; 
    margin: 0 20px 00px 20px; 
}

.w450 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
#footer-nav  {
    display: none;
}
.stahl-nav-active {
    color:#74a0c5 !important;
}
.ui-btn-active {
    background-color:#ffffff;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 0 /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
    border-top-color: #cccccc;
}
.cover-block {
    width=220px;
    float: left;
    margin-right: 20px;
}
.cover-block > a.btn {
    display:block
}
.book-container {
        margin-bottom: 30px;
}
.ui-btn-up-e, .ui-btn-up-f {
    font-weight:normal;
}
.ui-btn-up-e a, .ui-btn-up-f a{
    text-decoration:none !important;
    font-weight:normal;
}
.book-grid {
    width: 100%;
    padding-left: 20px;
}
#back-button {
    width: 100%;
    display: block;
    clear:both;
}
.book-image-sm img{
        box-shadow:0 0 6px #777; 
    -moz-box-shadow:0 0 6px #777; 
    -webkit-box-shadow:0 0 6px #777; 
    margin-bottom: 20px;
    width: 200px;
    height: 281px;
}
.book-image-sm2 img{
        box-shadow:0 0 6px #777; 
    -moz-box-shadow:0 0 6px #777; 
    -webkit-box-shadow:0 0 6px #777; 
    margin-bottom: 20px;
    width: 200px;
    height: 302px;
}
#email {
    float: left;
    display: inline;
    width: 240px;
    margin-top: 0px;
}

#submit {
    float: right;
    display: inline;
    margin-top: 6px;

}

#home.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active, 
#fourth-edition.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active,
#prescribers-guide.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active,
#case-studies.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active,
#self-assessment.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active,
#illustrated-series.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active,
#stahls-online.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active,
#cns-spectrums.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active,
#related-titles.ui-page.ui-body-c.ui-page-header-fixed.ui-page-footer-fixed.ui-page-panel.ui-page-active {
    padding-bottom: 0px !important;
}

.ui-header {
    margin-top: 0px !important;
}

#nav-panel-o {
    margin-top: 55px !important;
}

.ui-icon-plus {
	background-position: 	0px 0px;
    color:#555555;
}

.ui-icon-delete {
	background-position: 	-72px 0px;
    color:#555555;
}

.ui-icon-arrow-r {
	background-position: 	-107px 0px;
    color:#555555;
}


/* RWD STYLES */



@media screen and (max-width: 1200px) {

   .fluid-container {
        width: 700px;
        margin-left: 260px;
        margin-right: auto;
     
   }
    .fluid-container-video{
    width: 50%;
    margin-top: 75px;
}

}

@media screen and (max-width: 1000px) {
    
   .fluid-container {
        width: auto;
        margin-left: 270px;
        margin-right: 30px;
   }
    .fluid-container-video{
    width: 60%;
    margin-top: 75px;
}
    .rwd-line-1, .rwd-line-2 { 
        display: inline; 
    }
    .rwd-button, .rwd-button-last {
        width: 100%;
        margin-bottom: 2px;
    }
    .rwd-spacer-1{
        display:inline;
    }    
    .book-container {
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 768px) {

   .fluid-container, .fluid-container-n {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
   }
    .book-grid {
        width:460px;
        margin-left: auto;
        margin-right: auto;
    }
    .fluid-container-video{
    width: 95%;
    margin-top: 50px;
}
    #v-header {
     display:none;   
    }   
    h1. {
    margin-top: 20px;
    }
   #footer-nav  {
        display:block;
    }
}
        
@media all and (min-width: 769px){

    .h-header {
     display:none;   
    }
}

@media screen and (max-width: 540px) {

    .coverflow {
        background-image: url(../assets/stahl-carousel-390.jpg);
        width: 390px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -30px;
        height: 214px;
        overflow-x:hidden;
    }
    h1 {
        font-size: 3em;
        line-height: 0.85em;
        margin-top: 20px;
    }
    h3 {
        font-size: 1.65em;
        margin-bottom: 20px;
        margin-top: -5px;
    }
   .cover-block {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .cover-block > a.btn {
        width:200px;
        margin-left: auto;
        margin-right: auto;
}
    .book-grid {
        width:240px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 480px) {

    .fluid-container, .fluid-container-n {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
   }
    h1 {
        font-size: 2.25em;
        line-height: 0.85em;
        margin-top: 40px;
    }
    h3 {
        font-size: 1.25em;
        margin-bottom: 20px;
        margin-top: -5px;
    }

.coverflow {
        background-image: url(../assets/stahl-carousel-300.jpg);
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -30px;
        height: 181px;
    }
        h1 {
        font-size: 2em;
        line-height: 0.85em;
        margin-top: 30px;
    }
    h3 {
        font-size: 1.25em;
        margin-bottom: 20px;
        margin-top: -10px;
    }

}
